<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="bdd_ejemploEntities" connectionString="metadata=res://*/bdd_example.csdl|res://*/bdd_example.ssdl|res://*/bdd_example.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANIEL-PC\MSSQLSERVER3;initial catalog=bdd_ejemplo;persist security info=True;user id=sa;password=sastifaccion12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bdd_ejemploEntities1" connectionString="metadata=res://*/bdd_example2.csdl|res://*/bdd_example2.ssdl|res://*/bdd_example2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANIEL-PC\MSSQLSERVER4;initial catalog=bdd_ejemplo;user id=sa;password=sastifaccion12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bdd_ejemploEntities2" connectionString="metadata=res://*/bdd_example2.csdl|res://*/bdd_example2.ssdl|res://*/bdd_example2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANIEL-PC\MSSQLSERVER4;initial catalog=bdd_ejemplo;user id=sa;password=sastifaccion12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>